/* Dark Mode Toggle Butonunun Görünümü */
#dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 0.5rem;
    color: inherit; /* Mevcut tema rengini kullanır */
    transition: transform 0.2s ease;
    display: inline-flex; /* Butonun görünmesini sağlar */
    align-items: center;
    justify-content: center;
}

#dark-mode-toggle:hover {
    transform: scale(1.2);
}
