/* Micro Card Styles */
.micro-card {
    background-color: var(--color-base);
    padding: calc(var(--margin) / 2);
    margin-bottom: calc(var(--margin) / 2);
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.micro-card-image {
    max-width: 80%; /* Daha küçük ve minimal görünüm */
    border-radius: calc(var(--radius) / 2);
    margin-bottom: calc(var(--margin) / 4);
}

.micro-card-title {
    font-size: 1rem; /* Daha küçük başlık */
    margin-bottom: calc(var(--margin) / 4);
}

.micro-card-content {
    font-size: 0.875rem;
    line-height: 1.4;
}
